@tailwind base;
@tailwind components;
@tailwind utilities;

.list-bg {
  @apply bg-zinc-900 p-[10px];
}

.list-item {
  @apply bg-white rounded-lg p-[20px] mb-[5px] shadow-zinc-600 opacity-100 transition-all;
}

.title {
  @apply text-xl font-extrabold m-0;
}

.content {
  @apply text-slate-500 my-[5px] mx-0;
}

input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}
button {
  padding: 10px 15px;
  background: lightgray !important;
  border: none;
  border-radius: 5px;
}
